* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    padding: 29px 100px 30px 54px;
    background-color: #FFFFFF;
    position: fixed;
}
.container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 266px;
}
.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo span {
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 700;
    line-height: 41.45px;
    color: #000000;
    margin-left: 5px;
}
.nav-list ul {
    display: flex;
    width: 430px;
    justify-content: space-between;
    list-style: none;
}
.nav-list ul li {
    transition: all 0.5s;
}
.nav-list ul li a {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}
.nav-list ul li:hover {
    transform: scale(1.1);
}
.links a {
    display: flex;
    gap: 45px;
    text-decoration: none;
    margin-left: 158px;
}
.nav__container {
    max-width: 1440px;
    width: 100%;
    background-color: #F9F1E7;
    padding: 31px 986px 32px 99px;
    padding-top: 130px;
}
.nav__container nav {
    display: flex;
    align-items: center;
}
.nav__container nav a {
    padding-right: 24px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9F9F9F;
    transition: all 0.5s;
}
.nav__container nav a span {
    margin-right: 21px;
}
.nav__container nav a:nth-child(3){
    padding-left: 34px;
    border-left: 2px  solid #9F9F9F;
    color: #000000;
    width: 200px;
}
.nav__container nav a:hover {
    transform: scaleX(0.9);
}
.photo-wrapper {
    display: flex;
    gap: 35px;
}
.furniture__container {
    max-width: 1241px;
    width: 100%;
    padding: 35px 99.99px 66px 99px;
}
.photo-wrapper .photos img {
    margin-bottom: 32px;
}
.photos {
    cursor: pointer;
}
.image {
    background: #F9F1E7;
    display: flex;
    align-items: center;
    width: 423px;
    height: 500px;
}
.wrapper {
    display: flex;
}
.title {
    margin-left: 82px;
}
.title h1 {
    font-family: 'Poppins';
    font-size: 42px;
    font-weight: 400;
    line-height: 63px;
    color: #000000;
}
.title h2 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #9F9F9F;
}
.review {
    display: flex;
    margin-top: 15px;
}
.stars a {
    text-decoration: none;
    display: flex;
    gap: 6px;
    padding-right: 18px;
}
.text p {
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #9F9F9F;
    border-left: 1px solid #9F9F9F;
    padding-left: 22px;
}
.info p {
    margin-top: 18px;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #000000;
}
.size p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #9F9F9F;
    margin-bottom: 4px;
}
.size button {
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    cursor: pointer;
}
.size button:nth-child(1) {
    border: none;
    border-radius: 5px;
    padding: 5px 12px 5px 12px;
    background-color: #B88E2F;
    color: #FFFFFF;
    margin-right: 16px;
}
.size button:nth-child(2) {
    border: none;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
    background-color: #F9F1E7;
    color: black;
    margin-right: 16px;
}
.size button:nth-child(3) {
    border: none;
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
    background-color: #F9F1E7;
    color: black;
}
.color {
    margin-top: 18px;
}
.color p {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #9F9F9F;
}
.button-wrapper {
    display: flex;
    gap: 16px;
}
.button-wrapper button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin-top: 12px;
    cursor: pointer;
}
.button-wrapper button:nth-child(1) {
    background-color: #816DFA;
}
.button-wrapper button:nth-child(2) {
    background-color: #000000;
}
.button-wrapper button:nth-child(3) {
    background-color: #B88E2F;
}
.buttons {
    margin-top: 32px;
    width: 606px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 60px;
    font-family: "Poppins";
}
.buttons button {
    border: none;
    background-color: #FFFFFF;
    transition: all 0.4s;
    cursor: pointer;
}
.buttons button:hover {
    background-color: rgba(43, 41, 41, 0.1);
    transform: scale(0.9);
}
.buttons button:nth-child(1) {
    padding: 20px 12px 20px 15px;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    margin-right: 18px;
}
.buttons button span {
    padding-left: 35px;
    padding-right: 35px;
}
.buttons button:nth-child(2) {
    padding: 17px 48px 17px 48px;
    border: 1px solid #000000;
    border-radius: 15px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
}
.buttons button:nth-child(3) {
    padding: 15px 46px 14px 47px;
    border-radius: 15px;
    border: 1px solid  #000000;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #000000;
}
footer {
    margin-top: 41px;
}
footer .footer-wrapper p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9F9F9F;
    margin-bottom: 12px;
}
.footer-wrapper p:nth-child(1) span {
    margin-right: 12px;
    margin-left: 61px;
}
.footer-wrapper p:nth-child(2) span {
    margin-left: 16px;
    margin-right: 12px;
}
.footer-wrapper p:nth-child(3) span {
    margin-right: 12px;
    margin-left: 52px;
}
.share {
    display: flex;
}
.share p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9F9F9F;
}
.share p span {
    margin-left: 44px;
    margin-right: 12px;
}
.share a {
    margin-right: 25px;
}
.about__container {
    max-width: 1440px;
    width: 100%;
    padding: 48px 101px 65px 100px;
    border-top: 1px solid  #D9D9D9;
}
.about .name {
    width: 649px;
    display: flex;
    gap: 52px;
    margin-left: 396px;
    align-items: center;
}
.about .name h3 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #000000;
}
.about .name p:nth-child(2) {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color:  #9F9F9F;
}
.about .name p:nth-child(3) {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #9F9F9F;
}
.about .info {
    width: 1026px;
    margin-left: 207px;
}
.about .info p:nth-child(1) {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9F9F9F;
}
.about .info p:nth-child(2) {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9F9F9F;
    margin-bottom: 36px;
}
.images-wrapper {
    display: flex;
    gap: 29px;
    margin-left: 100px;
}